<h1 style="font-family: cursive">GOOD MORNING ALLERGY SUFFERER:</h1>

<p>We've been up all night performing science to bring you which allergens you need to watch out for today.</p>
<p>Here are the allergens to prepare for:</p>
<ul>
    {{#each allergens}}
    <li>{{{this}}}</li>
    {{/each}}
</ul>

<p>Good luck,</p>
<p>Be In The Nose Team</p>

<p>If you would like to stop Being In the Nose, <a href="#">Unsubscribe</a> here</p>